.birthday-flex-container {
    display: flex;
    height: 120px;
    width: 100%;

}

/* User Image */
.image-container {
    margin: 15px;
}

.user-image {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    box-shadow: .5px .5px .5px black;
}

/* User Info */
.user-info {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.age {
    font-style: italic;
    margin: 0;
    font-weight: 500;
}

.name {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    color: rgb(214, 64, 89);
    font-weight: bold;
}

/* Delete Birthday */

.delete-birthday-container {
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.delete-birthday-container span {
    padding: 15px;
    font-size: 20px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.delete-birthday-container span:hover {
    color: red;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}